{% extends "app/base.html" %}
{% block content %}
     <div class="content-section">
          <br>
          <h4 style="font-weight: 400;" style="line-height: 0pt;">Account details</h4>
          <div class="border-top pt-3"></div>
          <h5 style="font-weight: 400;" style="text-align:center"><strong>Username:</strong> {{user.username}}</h5>
          <h5 style="font-weight: 400;" style="text-align:center"><strong>Restaurant:</strong> {{restName}}</h5>
          <h5 style="font-weight: 400;" style="text-align:center"><strong>Account type:</strong> one month free trial</h5>
     </div>
{% endblock content %}
