{% extends "app/base.html" %}
{% block content %}
<br>
     <div class="content-section">
      <h4 style="font-weight: 400;" style="line-height: 0pt;">Register</h4>
      <div class="border-top pt-3">
      <div style="text-align:center"> 
           <a href="{% url 'student-registration'%}" class="btn btn-outline-info btn-lg btn-block" role="button">Student</a>
      </div>
     </div>
      <br>
      <div style="text-align:center"> 
      <a href="{% url 'restaurant-registration' %}" class="btn btn-outline-info btn-lg btn-block" role="button">Restaurant</a>
      </div>
      <br>
      <div class="border-top pt-10">
	     <small class="text-muted">
	       Have an account already?<a class="ml-2" href="{% url 'login' %}">Log in</a>
             </small>
	 </div>
     </div>
{% endblock content %}
