{% extends "app/base.html" %}
{% block content %}

<br>
    <h5 style="text-align:center">Post a reward in exchange for Instagram stories!</h5>
    <hr>
      <div class="card"> <div class="card-body" style="background-color:#ffe6f9;">
        <article class="media content-section">
            <div class="media-body">
		<div id="formbox">
		<form action={% url 'home' %}>
		  <button style="#ff44d5;">Submit</button>
		</form>
		</div>
	    </div>
          </article>
      </div> </div>
    <br><hr>
<h5 style="text-align:center">Post a reward in exchange for Instagram posts!</h5>
    <hr>
      <div class="card"> <div class="card-body" style="background-color:#ffe6f9;">
        <article class="media content-section">
            <div class="media-body">
                <div id="formbox">
                <form action={% url 'home' %}>
                  <button style="#ff44d5;">Submit</button>
                </form>
                </div>
            </div>
          </article>
      </div> </div>
    <br>

{% endblock content %}
